body,
html {
    background-color: #fffffc;
    color: #333;
    font: 16px "Open Sans", sans-serif;
    font-weight: 400;
    height: calc(100% - 8px);
    margin: 0;
}

.animated {
    transition: all 250ms ease-in-out;
}

/***************
 * Text Styles *
 **************/

*[data-align='center'] {
    text-align: center;
}

*[data-align='right'] {
    text-align: right;
}

a {
    color: #08C;
    text-decoration: none;
}

h1 {
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 16px 0;
    padding: 0;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
}

p {
    line-height: 1.5;
}

.signature {
    font-family: "Pacifico", "Open Sans", cursive;
    font-weight: 300;
}

/**********
 * Button *
 *********/

.button {
    background-color: #fff;
    background-image: linear-gradient(to bottom,
                                        rgba(255, 255, 255, 0.2),
                                        rgba(0, 0, 0, 0.10));
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    color: #555;
    display: inline-block;
    margin: 6px 0;
    min-width: 100px;
    padding: 12px;
    text-align: center;
    transition: all 100ms ease-in-out;
}

.button.suggested-action {
    background-color: #08c;
    background-image: linear-gradient(to bottom,
                                        rgba(255, 255, 255, 0.2),
                                        rgba(0, 0, 0, 0.05));
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                0 3px 6px rgba(0,0,0,0.23);
}

.button .fa {
    margin-right: 12px;
}

@media only screen and (max-width: 640px) {
    .button {
        width: calc(100% - 24px);
    }
}

@media only screen and (min-width: 640px) {
    .button + .button {
        margin-left: 12px;
    }
}

/***************
 * Green Button *
 ***************/

.button.green {
    background-color: #45d363;
}

/********
 * Grid *
 *******/

.grid {
    margin: 0 auto;
    max-width: 1000px;
}

.grid > * {
    margin: 16px;
}

@media only screen and (max-width: 640px) {
    .grid > *:first-child {
        padding-top: 3px;
    }

    .grid > *:last-child {
        padding-bottom: 16px;
    }
}

@media only screen and (min-width: 640px) {
    .grid > * {
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .grid .half {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 48px);
    }

    .grid .half:only-child {
        width: 50%;
    }

    .grid .third {
        display: inline-block;
        vertical-align: top;
        width: calc(33% - 32px);
    }

    .grid .two-thirds {
        display: inline-block;
        vertical-align: top;
        width: calc(66% - 48px);
    }

    .grid .two-thirds:only-child {
        width: 66%;
    }

    .grid > *:only-child {
        display: block;
        margin: 0 auto;
    }
}

/*
Make sure page is at least 100% tall
 Page height minus footer and nav height
 We're also missing 16px somewhere 
*/

.grid:nth-last-child(2) {
    min-height: calc(100% - 168px - 56px + 16px);
}

/**********
 * Images *
 **********/

img {
    max-width: 100%;
}

/********
 * Hero *
 ********/

.hero {
    background-color: #0590D6;
    background-image: linear-gradient(to right, #0586D6, #41A9C8);
    color: #fff;
    max-width: 100%;
    padding-top: 32px;
}

.hero a:not(.button) {
    color: #fff;
}

.hero a:not(.button):hover {
    text-decoration: underline;
}

.hero a.button:not(.suggested-action) {
    color: #08c;
}

.hero h2 {
    text-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

/************
 * Revealer *
 ***********/

/*.inline-revealer h3:after {
    color: inherit;
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 14px;
    font-weight: inherit;
    margin-top: 0.5em;
    opacity: 0.5;
    padding-left: 12px;
    position: absolute;
    transition: all 0.15s ease-in-out;
}

.inline-revealer:hover h3:after {
    opacity: 1;
}

.inline-revealer:focus {
    outline: none;
}

.inline-revealer:focus h3:after {
    margin-top: -0.1em;
    opacity: 1;
    padding-left: 20px;
    transform: rotate(90deg);
}

.inline-revealer:focus + .revealer {
    height: initial;
    opacity: 1;
    transform: initial;
    transition: all 150ms ease-in-out;
}

.revealer {
    height: 0;
    opacity: 0;
    transform: scale(1,0);
    transform-origin: 0 0;
    transition: none;
}*/


/*******
 * Nav *
 *******/

nav {
    background-color: #08c;
    background-image: linear-gradient(to right, #057DC7, #38A2C2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    color: #fff;
    font-weight: 600;
    height: 56px;
    line-height: 56px;
    padding-left: 8px;
    padding-right: 8px;
}

nav a {
    color: #fff;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.right {
    float:right;
}

nav ul li {
    display: inline-block;
    margin: 0 8px;
}

nav .signature {
    font-size: 24px;
}

nav .tooltip:after {
    margin: -6px -10px;
}

/**********
 * Footer *
 *********/

footer {
    background-color: #f2f2f2;
    box-sizing: border-box;
    color: #777;
    font-size: 12px;
    line-height: 48px;
    padding: 16px 0;
    text-align: center;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    background-image: linear-gradient(to bottom,
                                        rgba(255, 255, 255, 0.2),
                                        rgba(0, 0, 0, 0.05));
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 6px;
    text-align: center;
    width: 36px;
}

footer ul a {
    color: #fff;
    display: block;
    height: 100%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
}

footer ul .black {
    background-color: #444;
}

footer ul .black:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

footer ul .blue-instagram {
    background-color: #316189;
}

footer ul .blue-instagram:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(49, 97, 137, 0.14),
                0 3px 14px 2px rgba(49, 97, 137, 0.12),
                0 5px 5px -3px rgba(49, 97, 137, 0.4);
}

footer ul .blue-twitter {
    background-color: #55ACEE;
}

footer ul .blue-twitter:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(0, 100, 214, 0.14),
                0 3px 14px 2px rgba(0, 100, 214, 0.12),
                0 5px 5px -3px rgba(0, 100, 214, 0.4);
}

footer ul .green {
    background-color: #3cd428;
}

footer ul .green:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(21, 194, 0, 0.14),
                0 3px 14px 2px rgba(21, 194, 0, 0.12),
                0 5px 5px -3px rgba(21, 194, 0, 0.4);
}

footer ul .orange {
    background-color: #F96C2D;
}

footer ul .orange:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(249, 108, 45, 0.14),
                0 3px 14px 2px rgba(249, 108, 45, 0.12),
                0 5px 5px -3px rgba(249, 108, 45, 0.4);
}

footer ul .pink {
    background-color: #E04C86;
}

footer ul .pink:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(224, 76, 134, 0.14),
                0 3px 14px 2px rgba(224, 76, 134, 0.12),
                0 5px 5px -3px rgba(224, 76, 134, 0.4);
}

footer ul .purple {
    background-color: #6441a5;
}

footer ul .purple:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(100, 65, 165, 0.14),
                0 3px 14px 2px rgba(100, 65, 165, 0.12),
                0 5px 5px -3px rgba(100, 65, 165, 0.4);
}

footer ul .red {
    background-color: #DD4B39;
}

footer ul .red:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.30),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(221, 75, 57, 0.14),
                0 3px 14px 2px rgba(221, 75, 57, 0.12),
                0 5px 5px -3px rgba(221, 75, 57, 0.4);
}

footer ul .yellow {
    background-color: #FFB300;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.50),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
}

footer ul .yellow:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.50),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.10),
                0 8px 10px 1px rgba(255, 111, 0, 0.14),
                0 3px 14px 2px rgba(255, 111, 0, 0.12),
                0 5px 5px -3px rgba(255, 111, 0, 0.4);
}

/***********
 * Tooltip *
 **********/

.tooltip:after {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    content: attr(data-tooltip) "";
    display: inline-block;
    font-size: 12px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 12px;
    margin: -36px -30px;
    opacity: 0;
    padding: 8px 6px;
    pointer-events: none;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    transition: all 250ms;
    transition-delay: 0ms;
}

.tooltip:hover:after {
    opacity: 1;
    transition: all 100ms;
    transition-delay: 500ms;
}
