---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "colors";
@import "footer";
@import "grid";
@import "nav";
@import "typography";
@import "alerts";

* {
  box-sizing: border-box;
}

body,
html {
  background-color: $background-color;
  color: $primary-color;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

.animated {
  transition: all 250ms;
}

.fa-ul {
  font-size: 0.875em;
  margin-left: 2em;
}

.fa-ul > li {
  padding-bottom: 0.5em;
}

.fa-li {
  color: $accent-color;
  opacity: 0.75;
  width: 0.875em;
}

.home h1 {
  text-align: center;
}

.read-more {
  color: inherit;
  font-size: 0.875em;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }

  &::after {
    color: inherit;
    content: "→";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    margin-top: 0.2em;
    padding-left: 0.375em;
    position: absolute;
    transition: padding 0.15s ease-in-out;
  }

  &:hover::after {
    padding-left: 0.625em;
  }

  i,
  img {
    margin-right: 0.5em;
  }

  img {
    display: inline;
  }
}

.read-more:hover i {
  opacity: 1;
}

.read-more.twitter:hover i {
  color: $twitter;
}

.read-more.unsplash:hover i,
.read-more.instagram:hover i,
.read-more.pixelfed:hover i {
  color: $black;
}

.read-more.medium:hover i {
  color: $medium;
}

.read-more.github:hover i {
  color: $github;
}

.read-more.steam:hover i {
  color: $steam;
}

.read-more.youtube:hover i {
  color: $youtube;
}

.read-more.psn:hover i {
  color: $psn;
}

.read-more.google-plus:hover i {
  color: $gplus;
}

img[alt="Me"] {
  display: block;

  margin: 1em auto;
  max-width: 8em;

  background-image: url('https://cdn.rawgit.com/elementary/icons/master/status/symbolic/avatar-default-symbolic.svg');
  background-position: center;
  background-size: cover;

  border: 1px solid $primary-color;
  border-radius: 50%;

  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 1px 4px 0 rgba(0, 0, 0, 0.24);

  filter:
    sepia(1)
    hue-rotate(240deg)
    brightness(0.75)
    contrast(150%);

  &:active {
    filter: none;
  }

  nav & {
    float: left;
  }
}

table {
  width: 100%;
  text-align: center;
}

.summary {
  text-align: center;
}

ul.fa-ul {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  width: auto;

  li {
      width: auto;
  }
}

img[alt="Venmo barcode"] {
  max-width: 256px;

  box-shadow: 0 0 0.75em mix($black, $background-color, 50%);
  border-radius: 0.5em;
}

h1#clairvoyant,
h1#dippi,
h1#palette,
h1#principles {
  text-align: center;
}

img[alt="Clairvoyant icon"],
img[alt="Dippi icon"],
img[alt="Palette icon"],
img[alt="Principles icon"],
img[alt="Ideogram icon"],
img[alt="Get it on AppCenter"] {
  margin: 0 auto;
}

.wishlist {
  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }

    thead {
      display: none;
    }

    tr {
      border: 1px solid #eee;
      padding: 1em;
      display: block;

      @media (min-width: 1024px) {
        display: table-row;
        padding: 0;
      }
    }

    td {
      display: block;

      @media (min-width: 1024px) {
        display: table-cell;
        padding: 0.5em;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100px;
    }
  }
}

