---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "colors";
@import "footer";
@import "grid";
@import "nav";
@import "typography";

* {
  box-sizing: border-box;
}

body,
html {
  background-color: $background-color;
  color: $primary-color;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

.animated {
  transition: all 250ms;
}

.fa-ul {
  font-size: 0.875em;
  margin-left: 2em;
}

.fa-ul > li {
  padding-bottom: 0.5em;
}

.fa-li {
  color: $accent-color;
  opacity: 0.75;
  width: 0.875em;
}

.read-more {
  color: inherit;
  font-size: 0.875em;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }

  &::after {
    color: inherit;
    content: "→";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    margin-top: 0.2em;
    padding-left: 0.375em;
    position: absolute;
    transition: padding 0.15s ease-in-out;
  }

  &:hover::after {
    padding-left: 0.625em;
  }

  .fa {
    margin-right: 0.5em;
  }
}

.read-more:hover .fa {
  opacity: 1;
}

.read-more.twitter:hover .fa {
  color: $twitter;
}

.read-more.medium:hover .fa {
  color: $medium;
}

.read-more.github:hover .fa {
  color: $github;
}

.read-more.steam:hover .fa {
  color: $steam;
}

.read-more.youtube:hover .fa {
  color: $youtube;
}

.read-more.psn:hover .fa {
  color: $psn;
}

.read-more.google-plus:hover .fa {
  color: $gplus;
}

img[alt="Me"] {
  display: block;
  float: left;
  margin-right: 1em;
  max-width: 8em;

  background-image: url('https://cdn.rawgit.com/elementary/icons/master/status/symbolic/avatar-default-symbolic.svg');
  background-position: center;
  background-size: cover;

  border: 1px solid $primary-color;
  border-radius: 50%;

  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 1px 4px 0 rgba(0, 0, 0, 0.24);
}

ul.fa-ul {
  float: left;

  + p {
    clear: left;
  }
}

img[alt="Venmo barcode"] {
    // display: block;
    // margin: 0 auto;
    max-width: 256px;

    box-shadow: 0 0 0.75em mix($black, $background-color, 50%);
    border-radius: 0.5em;
}
