---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "colors";
@import "typography";
@import "layout";

// Extended, so should come first
@import "cards";

@import "alerts";
@import "app-badges";
@import "avatars";
@import "buttons";
@import "code";
@import "comments";
@import "details";
@import "embeds";
@import "figures";
@import "footer";
@import "grid";
@import "nav";

@import "_pages";

$fa-font-path: "../fonts";
@import "_fontawesome/fontawesome";
@import "_fontawesome/solid";
@import "_fontawesome/brands";
$fa-font-path: "../fonts";

:root {
  color-scheme: light dark;
  --blur: blur(20px);
  --glass: saturate(180%) var(--blur);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

html {
  background: rgb(var(--secondary-accent-rgb));
  scroll-behavior: smooth;

  @media print {
    background: rgb(var(--background-rgb));
  }
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--primary-rgb));
  display: flex;
  flex-direction: column;
}

img,
video {
  display: block;
  margin-inline: auto;
  max-width: 100%;
  height: auto;
}

.animated {
  transition: all 250ms;
}

.fa-ul > li {
  padding-bottom: 0.5em;
}

.fa-li {
  color: rgb(var(--accent-rgb));
  opacity: 0.75;
  width: 0.875em;
}

.read-more {
  color: inherit;
  font-size: 0.875em;

  &::after {
    color: inherit;
    content: "→";
    font-style: normal;
    font-weight: inherit;
    padding-left: 0.125em;
    position: absolute;
    transition: padding 0.15s ease-in-out;
  }

  &:hover::after {
    padding-left: 0.5em;
  }

  i,
  img {
    margin-right: 0.5em;
  }

  img {
    display: inline;
  }

  &:hover i {
    opacity: 1;
  }

  i.manual {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.25em;
    vertical-align: middle;
    width: 1.25em;
  }

  &.destiny {
    color: var(--destiny);

    i {
      background-image: url('/images/destiny.svg');
    }
  }

  &.elementary {
    color: var(--elementary);

    i {
      background-image: url('/images/elementary.svg');
    }
  }

  &.endless {
    color: var(--endless);

    i {
      background-image: url('/images/endless.svg');
    }
  }

  &.github {
    color: var(--github);
  }

  &.gnome {
    color: var(--gnome);
  }

  &.linkedin {
    color: var(--linkedin);
  }

  &.mastodon {
    color: var(--mastodon);
  }

  &.medium {
    color: var(--medium);
  }

  &.pixelfed {
    color: var(--pixelfed);
  }

  &.psn {
    color: var(--psn);
  }

  &.stadia {
    color: var(--stadia);

    i {
      background-image: url('/images/stadia.svg');
    }
  }

  &.steam {
    color: var(--steam);
  }

  &.system76 {
    color: var(--system76);

    i {
      background-image: url('/images/system76.svg');
    }
  }

  &.switch {
    color: var(--switch);
  }

  &.twitter {
    color: var(--twitter);
  }

  &.unsplash,
  &.instagram {
    color: var(--neutral);
  }

  &.youtube {
    color: var(--youtube);
  }
}

table {
  width: 100%;
  text-align: center;

  img {
    margin: 0 auto;
  }

  + table {
      margin-top: 1em;
  }
}

.summary {
  float: left;
  margin: 1.1em 0;
}

.wishlist {
  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 600px) {
      text-align: left;
    }

    thead {
      display: none;
    }

    tr {
      border: 1px solid var(--faint);
      display: block;
      padding: 1em;

      @media (min-width: 600px) {
        display: table-row;
        padding: 0;
      }
    }

    td {
      display: block;

      @media (min-width: 600px) {
        display: table-cell;
        padding: 0.5em;

        &:first-child {
          min-width: 100px;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100px;
    }
  }
}

body.store .images {
  display: flex;
  flex-wrap: nowrap;

  > * {
    background-color: var(--faint);
    border: 1px solid var(--faint);
    border-radius: 0.4em;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    cursor: zoom-in;
    margin: 0.25em;
    transition: all 100ms ease-in-out;

    &:hover {
      box-shadow: 0 0.125em 1em rgba(0, 0, 0, 0.125);
      transform: scale(1.67);
    }
  }

  img {
    border-radius: 0.4em;
  }
}

.products {
  display: flex;
  margin-top: 2em;

  .product {
    @extend .card;
    background-color: var(--bg-color);
    max-width: 256px;
    flex-grow: 1;

    img {
      border-radius: 0.4em 0.4em 0 0;
    }

    h3 {
      margin: 0.75rem;
    }

    p {
      margin: 0.75rem;
    }
  }
}

.hidden {
  display: none;
}

/**
 * Support GitHub-styled themed images; see:
 * https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdown/
 */

@media print, (prefers-color-scheme: light) {
  img[src$='#gh-dark-mode-only'] {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  img[src$='#gh-light-mode-only'] {
    display: none;
  }
}
