<p>© <span id="year">2016</span> Daniel Foré. Made in California.</p>
<ul>
    <li class="animated pink">
        <a href="https://dribbble.com/danrabbit" class="tooltip" data-tooltip="Dribbble">
            <i class="fa fa-dribbble fa-lg"></i>
        </a>
    </li>
    <li class="animated black">
        <a href="https://github.com/danrabbit" class="tooltip" data-tooltip="GitHub">
            <i class="fa fa-github fa-lg"></i>
        </a>
    </li>
    <li class="animated red">
        <a href="https://plus.google.com/+DanielForé" class="tooltip" data-tooltip="Google+">
            <i class="fa fa-google-plus fa-lg"></i>
        </a>
    </li>
    <li class="animated blue-instagram">
        <a href="https://www.instagram.com/danrabbit/" class="tooltip" data-tooltip="Instagram">
            <i class="fa fa-instagram fa-lg"></i>
        </a>
    </li>
    <li class="animated orange">
        <a href="https://soundcloud.com/danrabbit" class="tooltip" data-tooltip="SoundCloud">
            <i class="fa fa-soundcloud fa-lg"></i>
        </a>
    </li>
    <li class="animated purple">
        <a href="http://www.twitch.tv/danrabbit" class="tooltip" data-tooltip="Twitch">
            <i class="fa fa-twitch fa-lg"></i>
        </a>
    </li>
    <li class="animated blue-twitter">
        <a href="https://twitter.com/danielfore" class="tooltip" data-tooltip="Twitter">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
    </li>
    <li class="animated yellow">
        <a href="mailto:daniel@elementary.io" class="tooltip" data-tooltip="Email">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
    </li>
    <li class="animated green">
        <a href="https://cash.me/$danrabbit" class="tooltip" data-tooltip="Cash Me">
            <i class="fa fa-usd fa-lg"></i>
        </a>
    </li>
</ul>
<a href="https://github.com/danrabbit/danrabbit.github.io/issues/new"><i class="fa fa-bug"></i> Report an Issue</a>
