<p>© <span id="year">2017</span> Daniel Foré. Made in California.</p>
<ul>
    <li class="animated pink">
        <a href="https://dribbble.com/danrabbit" class="tooltip" data-tooltip="Dribbble" target="_blank">
            <i class="fa fa-dribbble fa-lg"></i>
        </a>
    </li>
    <li class="animated black">
        <a href="https://github.com/danrabbit" class="tooltip" data-tooltip="GitHub" target="_blank">
            <i class="fa fa-github fa-lg"></i>
        </a>
    </li>
    <li class="animated red">
        <a href="https://plus.google.com/+DanielForé" class="tooltip" data-tooltip="Google+" target="_blank">
            <i class="fa fa-google-plus fa-lg"></i>
        </a>
    </li>
    <li class="animated instagram">
        <a href="https://www.instagram.com/danrabbit/" class="tooltip" data-tooltip="Instagram" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
    </li>
    <li class="animated orange">
        <a href="https://soundcloud.com/danrabbit" class="tooltip" data-tooltip="SoundCloud" target="_blank">
            <i class="fa fa-soundcloud fa-lg"></i>
        </a>
    </li>
    <li class="animated purple">
        <a href="http://www.twitch.tv/danrabbit" class="tooltip" data-tooltip="Twitch" target="_blank">
            <i class="fa fa-twitch fa-lg"></i>
        </a>
    </li>
    <li class="animated blue-twitter">
        <a href="https://twitter.com/danielfore" class="tooltip" data-tooltip="Twitter" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
    </li>
    <li class="animated yellow">
        <a href="mailto:daniel@elementary.io" class="tooltip" data-tooltip="Email" target="_blank">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
    </li>
    <li class="animated green">
        <a href="https://cash.me/$danrabbit" class="tooltip" data-tooltip="Cash Me" target="_blank">
            <i class="fa fa-usd fa-lg"></i>
        </a>
    </li>
</ul>
<a href="https://github.com/danrabbit/danrabbit.github.io/issues/new" target="_blank"><i class="fa fa-bug"></i> Report an Issue</a>
