<ul>
    <li>
        <a href="/" class="signature">Daniel Foré</a>
    </li>
</ul>

<ul class="right">
    <li>
        <a href="policy.html" class="tooltip" data-tooltip="Politics">
            <i class="fa fa-fw fa-bank"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/danielfore" class="tooltip" data-tooltip="Twitter" target="_blank">
            <i class="fa fa-fw fa-twitter fa-lg"></i>
        </a>
    </li>
    <li>
        <a href="mailto:daniel@elementary.io" class="tooltip" data-tooltip="Email">
            <i class="fa fa-fw fa-envelope"></i>
        </a>
    </li>
</ul>
