<footer>
  <p>© <span id="year">{{ site.time | date: '%Y' }}</span> {{ site.author }}. Made in {{ site.made-in }}.</p>
  <ul class="social">
    <li class="github">
      <a href="https://github.com/{{ site.github_user }}" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/{{ site.twitter }}" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="instagram">
      <a href="https://instagram.com/{{ site.instagram }}" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="email">
      <a href="mailto:{{ site.email }}" title="Email">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
    <li class="square">
      <a href="https://cash.me/{{ site.square }}" title="Cash Me">
        <i class="fa fa-dollar-sign"></i>
      </a>
    </li>
  </ul>
</footer>
