{% assign hash = site.time | date: '%s' %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}">
  <meta itemprop="name" content="{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}">

  <link rel="alternate" type="application/rss+xml" title="Cassidy’s Blog" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta charset="UTF-8">

  <link rel="icon" sizes="256x256" href="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=256&d=blank">
  <meta itemprop="logo" content="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=256&d=blank">

  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="theme-color" content="{% if page.theme-color %}{{ page.theme-color }}{% else %}{{ site.theme-color }}{% endif %}">

  {% if page.image %}
    {% assign prefix = page.image | slice: 0, 4 %}
    {% if prefix == "http" %}
      {% assign image = page.image %}
    {% else %}
      {% assign image = page.image | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
    <meta property="twitter:image" content="{{ image }}" />
    <meta property="og:image" content="{{ image }}" />
  {% else %}
    <meta property="twitter:image" content="{{ site.image | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{{ site.image | prepend: site.baseurl | prepend: site.url }}" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:creator" content="{% if page.twitter %}{{ page.twitter }}{% else %}{{ site.twitter }}{% endif %}">

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

{% if site.donate %}
  <meta name="support-link" content="{{ site.donate }}" />
{% endif %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" type="text/css" media="all" href="{{ '/css/main.css' | prepend: site.baseurl | append: '?v=' | append: hash }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  {% if jekyll.environment == "production" and site.url == "https://cassidyjames.com" %}
    <script async defer data-domain="{{ site.domain }}" src="https://stats.cassidyjames.com/js/index.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  {% endif %}
  <!-- {{ site.url }} -->
  <script>
    function ready(fn) {
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
        fn();
      } else {
        document.addEventListener("DOMContentLoaded", fn);
      }
    }

    ready(function() {
      var altStyleButton = document.querySelector("#alt-style");
      altStyleButton.addEventListener("click", function(e){
        setStyle("alt");
        e.preventDefault();
      });

      var defaultStyleButton = document.querySelector("#default-style");
      defaultStyleButton.addEventListener("click", function(e){
        setStyle("default");
        e.preventDefault();
      });

      setStyle(window.localStorage.style);

      function setStyle(style) {
        window.localStorage.style = style;

        if (style == "alt") {
          altStyleButton.classList.add("hidden");
          defaultStyleButton.classList.remove("hidden");

          document.querySelector("html").classList.add("alt-style");
        } else {
          defaultStyleButton.classList.add("hidden");
          altStyleButton.classList.remove("hidden");

          document.querySelector("html").classList.remove("alt-style");
        }
      }
    });
  </script>
</head>
