<nav>
  {% assign current = page.url | downcase | split: '/' %}

  <a href="/" {% if current[1] == null %}class='current'{% endif %}><img alt="Me" src="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=240&d=blank" /> Home</a>
    <a href="/blog" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a>
  <a href="/wishlist" {% if current[1] == 'wishlist' %}class='current'{% endif %}>Wishlist</a>
  <a href="/pay" {% if current[1] == 'pay' %}class='current'{% endif %}>Pay</a>

  {% if current[1] == 'resume' %}
    <a href="/resume" class='current'>Résumé</a>
  {% endif %}

  {% if current[1] == 'gamepi' %}
    <a href="/gamepi" class='current'>GamePi</a>
  {% endif %}

  {% if current[1] == 'support' %}
    <a href="/support" class='current'>Support</a>
  {% endif %}

  {% if current[1] == 'minecraft' %}
    <a href="/minecraft" class='current'>Minecraft</a>
  {% endif %}

  {% if current[1] == 'borrow' %}
    <a href="/borrow" class='current'>Borrow</a>
  {% endif %}
</nav>
