{% assign post=include.post %}

{% assign date = post.date %}
{% if post.updated %}
  {% assign date = post.updated %}
{% endif %}

{% capture output %}

{% if post.image %}
[![{{ post.title }} image]({{ post.image }}){: .card }]({{ post.url }})
{% endif %}

### [{{ post.title }}]({{ post.url }}) **{{ date | date: "%a, %b %e, %Y" }}**

{% if post.description %}
#### {{ post.description }}
{% endif %}

{{ post.content | markdownify | strip_html | truncatewords: 24 }}

[Read more]({{ post.url }}){: class="read-more"}

{% endcapture %}

<div class="post-summary">
{{ output | markdownify }}
</div>
