.alert {
    background-color: var(--accent-color);
    border-radius: 0.5em;
    color: var(--background-color);
    margin: 0 auto 2em;
    padding: 1em;

    a {
        color: inherit;
        font-weight: bold;
        text-decoration: underline;
    }

    &.success {
      background-color: rgba(var(--success-rgb), 0.2);
      color: rgb(var(--neutral-rgb));
      font-size: 1.25rem;
    }
}

img[alt="Download on Flathub"] {
  display: block;
  margin: 1.5em auto;
  width: 196px
}
