.alert {
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--background-color);
    margin: 1em auto;
    padding: 0.25em 1em;

    a {
        color: inherit;
        font-weight: bold;
    }
}
