// Solarized Code Highlighting
// Adapted from https://gist.github.com/nicolashery/5765395

.highlighter-rouge {
  background-color: var(--solarized-base3);
  border: 1px solid var(--faint);
  color: var(--solarized-base01);

  code {
    border: none;
  }

  + figcaption {
    background-color: var(--solarized-base2);
    border-radius: 0.5em;
    border: 1px solid var(--faint);
    color: var(--solarized-base02);
    display: block;
    font-family: monospace;
    font-size: 0.8em;
    margin-inline: auto;
    margin-top: -0.5em;
    padding: 0.5em;
    width: fit-content;
  }
}

.highlighter-rouge,
.highlight,
pre,
code {
  border-radius: 0.5em;
  max-width: 100%;
}

pre code {
  overflow: auto;
  padding: 0.5em 0.67em;
  display: block;
  color: inherit;
}

.highlight {
  line-height: 1.5em;
  margin: auto;
  text-align: left;

  .gl {
    background-color: var(--solarized-base2);
    padding: 0 0.5em;
    text-align: right;
  }

  .c,
  .c1,
  .cm,
  .sb {
    color: var(--solarized-base1);
  }

  .err,
  .g,
  .ge,
  .go,
  .gp,
  .gs,
  .gt,
  .l,
  .ld,
  .n,
  .na,
  .nl,
  .nn,
  .nx,
  .p,
  .py,
  .sd,
  .sh,
  .w {
    color: var(--solarized-base01);
  }

  .gd,
  .il,
  .m,
  .mf,
  .mh,
  .mi,
  .mo,
  .s,
  .s1,
  .s2,
  .sc,
  .si,
  .ss,
  .sx {
    color: var(--solarized-cyan);
  }

  .bp,
  .kd,
  .kr,
  .nc,
  .nd,
  .nf,
  .nt,
  .nv,
  .vc,
  .vg,
  .vi {
    color: var(--solarized-blue);
  }

  .cp,
  .cs,
  .gi,
  .k,
  .kn,
  .kp,
  .o,
  .ow {
    color: var(--solarized-green);
  }

  .gh,
  .gu,
  .kc,
  .ne,
  .ni,
  .no,
  .se,
  .x {
    color: var(--solarized-orange);
  }

  .gr,
  .kt,
  .sr {
    color: var(--solarized-red);
  }

  .nb {
    color: var(--solarized-yellow);
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: bold;
  }
}

@media (prefers-color-scheme: dark) {
  .highlighter-rouge {
    background-color: var(--solarized-base03);
    color: var(--solarized-base1);

    + figcaption {
      background-color: var(--solarized-base02);
      color: var(--solarized-base2);
    }
  }

  .highlight {
    .gl {
      background-color: var(--solarized-base02);
    }

    .c,
    .c1,
    .cm,
    .sb {
      color: var(--solarized-base01);
    }

    .err,
    .g,
    .ge,
    .go,
    .gp,
    .gs,
    .gt,
    .l,
    .ld,
    .n,
    .na,
    .nl,
    .nn,
    .nx,
    .p,
    .py,
    .sd,
    .sh,
    .w {
      color: var(--solarized-base1);
    }
  }
}

