$red: #c6262e;
$purple: #452981;
$white: #fafafa;
$black: #333;

$github: $black;
$gplus: #DC4E41;
$mastodon: #2b90d9;
$medium: #00ab6c;
$pixelfed: #08d;
$psn: #0068bf;
$steam: $black;
$switch: #E6000A;
$twitter: #55ACEE;
$youtube: #DD4B39;

$primary-color: $purple;
$accent-color: $red;
$background-color: $white;

