:root {
  --background-rgb: 250, 250, 250;
  --background-color: rgb(var(--background-rgb));

  --neutral-rgb: 51, 51, 51;
  --neutral: rgb(var(--neutral-rgb));

  --faint: rgba(var(--neutral-rgb), 0.067);

  --primary-rgb: 69, 41, 129; // Light style text
  --primary-color: rgb(var(--primary-rgb));

  --accent-rgb: 198, 38, 46; // Headings
  --accent-color: rgb(var(--accent-rgb));

  --secondary-accent-rgb: var(--primary-rgb); // Nav, footer
  --secondary-accent-color: rgb(var(--secondary-accent-rgb));

  --secondary-accent-contrast-rgb: var(--background-rgb);
  --secondary-accent-contrast: rgb(var(--secondary-accent-contrast-rgb));
  
  --success-rgb: 38, 162, 105;
  --success-color: rgb(var(--success-rgb));

  --warning-rgb: 174, 123, 3;
  --warning-color: rgb(var(--warning-rgb));

  --error-rgb: 192, 28, 40;
  --error-color: rgb(var(--error-rgb));

  --destiny-rgb: 39, 52, 69;
  --destiny: rgb(var(--destiny-rgb));
  --elementary: #0d52bf;
  --endless: #ee5a36;
  --github: var(--neutral);
  --gnome: #4a86cf;
  --mastodon: #2b90d9;
  --medium: #00ab6c;
  --pixelfed: #08d;
  --psn: #0068bf;

  --stadia-rgb: 222, 51, 52;
  --stadia: rgb(var(--stadia-rgb));
  --stadia-orange-rgb: 255, 76, 29;
  --stadia-orange: rgb(var(--stadia-orange-rgb));
  --stadia-purple-rgb: 155, 0, 99;
  --stadia-purple: rgb(var(--stadia-purple-rgb));
  --stadia-bg-rgb: 255, 255, 255;
  --stadia-bg: rgb(var(--stadia-bg-rgb));
  --stadia-fg-rgb: 32, 33, 36;
  --stadia-fg: rgb(var(--stadia-fg-rgb));

  --steam: var(--neutral);
  --system76: #574f4a;
  --switch-rgb: 230, 0, 18;
  --switch: rgb(var(--switch-rgb));
  --twitter: #55acee;
  --youtube: #dd4b39;

  --solarized-base01: #586e75;
  --solarized-base02: #073642;
  --solarized-base03: #002b36;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-yellow: #b58900;
}

// Higher contrast
html.alt-style {
  --primary-rgb: 51, 51, 51;
  --accent-rgb: 161, 7, 5;
  --secondary-accent-rgb: var(--primary-rgb);
  --secondary-accent-contrast-rgb: var(--background-rgb);
  --faint: rgba(var(--neutral-rgb), 0.2);
}

@media print {
  :root {
    --background-rgb: 255, 255, 255;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 35, 21, 65;
    --neutral-rgb: 248, 241, 254;
    --primary-rgb: var(--neutral-rgb);
    --accent-rgb: 246, 112, 107;
    --secondary-accent-rgb: 69, 41, 129;
    --secondary-accent-contrast-rgb: var(--neutral-rgb);

    --success-rgb: 143, 240, 164;
    --warning-rgb: 248, 228, 92;
    --error-rgb: 255, 123, 99;

    --destiny-rgb: 250, 250, 250;
    --elementary: #64baff;
    --stadia-rgb: 255, 119, 61;
    --stadia-bg-rgb: 32, 33, 36;
    --stadia-fg-rgb: 255, 255, 255;
    --system76: #ffa300;
  }

  // Higher contrast
  html.alt-style {
    --background-rgb: 34, 34, 34;
    --neutral-rgb: 221, 221, 221;
    --primary-rgb: var(--neutral-rgb);
    --accent-rgb: 255, 140, 130;
    --secondary-accent-rgb: 0, 0, 0;
    --secondary-accent-contrast-rgb: var(--neutral-rgb);
  }
}
