:root {
  --background-color: #fafafa;
  --neutral: #333;
  --faint: #f3f3f3;

  --primary-color: #452981; // Light style text
  --accent-color: #c6262e; // Headings
  --secondary-accent-color: var(--primary-color); // Header, footer
  --secondary-accent-contrast: var(--background-color);
  
  --success-color: #26a269;
  --warning-color: #ae7b03;
  --error-color: #c01c28;

  --elementary: #08c;
  --endless: #ee5a36;
  --github: var(--neutral);
  --gnome: #4a86cf;
  --mastodon: #2b90d9;
  --medium: #00ab6c;
  --pixelfed: #08d;
  --psn: #0068bf;

  --stadia: #de3334;
  --stadia-orange: #ff4c1d;
  --stadia-purple: #9b0063;
  --stadia-bg: white;
  --stadia-fg: rgb(32,33,36);

  --steam: var(--neutral);
  --system76: #574f4a;
  --switch: #e60012;
  --twitter: #55acee;
  --youtube: #dd4b39;

  --solarized-base01: #586e75;
  --solarized-base02: #073642;
  --solarized-base03: #002b36;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-yellow: #b58900;
}

html.alt-style {
  --background-color: #fafafa;
  --neutral: #333;
  --faint: #f3f3f3;

  --primary-color: #333; // Light style text
  --accent-color: #a10705; // Headings
  --secondary-accent-color: var(--primary-color); // Header, footer
  --secondary-accent-contrast: var(--background-color);
}

@media print {
  :root {
    --background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{ mix(#452981, black, 50%) };
    --neutral: #{ mix(#e4c6fa, white, 25%) };
    --faint:  #{ mix(#452981, black, 75%) };

    --stadia: #ff773d;
    --stadia-bg: #202124;
    --stadia-fg: white;

    --system76: #ffa300;

    --primary-color: var(--neutral);
    --accent-color: #{ mix(#ed5353, #ff8c82) };
    --secondary-accent-color: #452981;
    --secondary-accent-contrast: var(--neutral);

    --success-color: #8ff0a4;
    --warning-color: #f8e45c;
    --error-color: #ff7b63;
  }

  html.alt-style {
    --background-color: #222;
    --neutral: #ddd;
    --faint: #333;

    --primary-color: var(--neutral);
    --accent-color: #ff8c82; // Headings
    --secondary-accent-color: var(--faint); // Header, footer
    --secondary-accent-contrast: var(--neutral);
  }
}
