section#comments {
  .comment {
    display: grid;
    column-gap: 1rem;
    grid-template-areas:
      "avatar name"
      "avatar time"
      "avatar post"
      "...... actions";
    grid-template-columns: min-content;
    justify-items: start;
    margin: 2em auto 2em -1em;
    padding: 1em;

    .avatar {
      grid-area: avatar;
      height: 4rem;
      overflow: hidden;
      width: 4rem;
    }

    .author {
      grid-area: name;

      .display-name {
        font-weight: bold;
      }

      .account {
        opacity: 0.67;
      }
    }

    time {
      @extend small;

      grid-area: time;
      line-height: 1.5rem;
    }

    main {
      grid-area: post;

      p:first-child {
        margin-top: 0.25em;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    footer {
      display: none;
      // @extend small;

      // column-gap: 1em;
      // display: flex;
      // grid-area: actions;
      // opacity: 0.75;

      // a:hover {
      //   text-decoration: inherit;
      // }
    }

    .emoji {
      display: inline;
      height: 1.25em;
      vertical-align: middle;
      width: 1.25em;
    }

    .invisible {
      display: none;
    }

    .ellipsis::after {
      content: "…";
    }
  }
}
