details:not(.spoiler) {
  summary {
    color: var(--accent-color);
    cursor: default;
  }

  summary:hover,
  summary:focus {
    outline: none;
  }

  summary::marker,
  ::-webkit-details-marker {
    content: "";
    display: none;
  }

  summary >::after {
    content: "▸";
    display: inline-block;
    margin-left: 0.5em;
    transition: transform 250ms ease;
  }

  &[open] summary ::after {
    transform: rotate(90deg);
  }
}
