details summary {
  cursor: default;
  transition: color 250ms ease;
}

details summary:hover,
details summary:focus {
  outline: none;
  color: var(--accent-color);
}

details summary::marker,
::-webkit-details-marker {
  content: "";
  display: none;
}

details summary ::after {
  content: "▸";
  display: inline-block;
  margin-left: 0.5em;
  transition: transform 250ms ease;
}

details[open] summary ::after {
  transform: rotate(90deg);
}
