figure {
  margin: 2em auto;
  font-size: 0; // Allow inline-block layout
  text-align: center;

  > p {
    margin: 0;
  }

  img,
  video {
    display: inline-block;
    height: auto;
    vertical-align: middle;
  }

  figcaption {
    margin: 1em auto 2em;
    font-size: 0.85rem;
    opacity: 0.75;
    text-align: center;
  }

  &.half img {
    max-width: 50%;
  }

  &.third img {
    max-width: 33%;
  }
}
