figure {
  margin: 2rem auto;
  font-size: 0; // Allow inline-block layout
  text-align: center;
  position: relative;

  > p {
    margin: 0;
  }

  img,
  video {
    display: inline-block;
    height: auto;
    vertical-align: middle;
  }

  code {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  figcaption {
    margin: 1em auto 2em;
    font-size: 0.85rem;
    opacity: 0.75;
    text-align: center;
  }

  &.half img {
    max-width: 50%;
  }

  &.third img {
    max-width: 33%;
  }

  &.full-bleed img {
    left: 50%;
    max-width: 100vw;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;
  }
}
