figure {
  margin: 2em auto;
  font-size: 0; // Allow inline-block layout

  > p {
    margin: 0;
  }

  figcaption {
    margin: 1em auto 2em;
    font-size: 0.85rem;
    opacity: 0.75;
    text-align: center;
  }

  &.half img {
    display: inline-block;
    max-width: 50%;
  }
}
