/**********
* Footer *
*********/

footer {
  padding: 1rem 1rem 0;
  width: calc(100% - 2rem);

  background-color: $primary-color;

  color: $background-color;
  font-size: 0.75;
  line-height: 4em;
  text-align: center;
  text-shadow: 0 0.0625em 0.125em rgba($black, 0.5);

  a {
    font-weight: bold;
    opacity: 1;
  }

  ul.social {
    display: inline;
    margin: 0;
    padding: 0;

    color: $white;
    font-size: 0; // Fix weird spacing issues
    list-style: none;

    li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-block;
      height: 1.25em;
      margin: 0.25em;
      padding: 0.125em;
      width: 1.25em;

      border-radius: 50%;

      color: inherit;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.4em;

      transition: all 200ms ease;

      &:hover,
      &:focus {
        background-color: $accent-color;
        background-image: linear-gradient(
          rgba($white, 0.125),
          rgba($black, 0.25)
        );

        box-shadow:
          inset 0 1px 0 rgba($white, 0.25),
          inset 0 -1px 0 rgba($black, 0.25),
          0 0.0625em 0.125em rgba($black, 0.5);

        text-decoration: none;
        text-shadow: 0 1px 1px rgba(black, 0.5);
      }
    }

    .github a:hover,
    .github a:focus {
      background-color: #444;
    }

    .twitter a:hover,
    .twitter a:focus {
      background-color: #55ACEE;
    }

    .amazon a:hover,
    .amazon a:focus {
      background-color: #f4d078;
      color: $black;
      text-shadow: none;
    }

    .instagram a:hover,
    .instagram a:focus {
      background-color: $white;
      color: $black;
      text-shadow: none;

      // Can't animate background-image

      // background-image:
      //   radial-gradient(
      //     circle farthest-corner at 32% 106%,
      //     rgb(255, 225, 125) 0%,
      //     rgb(255, 205, 105) 10%,
      //     rgb(250, 145, 55) 28%,
      //     rgb(235, 65, 65) 42%,
      //     transparent 82%
      //   ),
      //   linear-gradient(
      //     135deg,
      //     rgb(35, 75, 215) 12%,
      //     rgb(195, 60, 190) 58%
      //   );
    }

    .square a:hover,
    .square a:focus {
      background-color: #3cd428;
    }

    .medium a:hover,
    .medium a:focus {
      background-color: $medium;
    }

    .gplus a:hover,
    .gplus a:focus {
      background-color: #DD4B39;
    }

    .email a:hover,
    .email a:focus {
      background-color: #FFB300;
    }
  }
}
