footer {
  @media print {
    display: none;
  }

  background-color: var(--secondary-accent-color);
  color: var(--secondary-accent-contrast);
  flex: 0 0 auto;
  line-height: 4em;
  padding: 1rem 1rem 0;
  text-align: center;
  text-shadow: 0 0.0625em 0.125em rgba(var(--black), 0.5);
  width: 100%;

  a {
    font-weight: bold;
    opacity: 1;
  }

  ul.social {
    color: var(--white);
    display: inline;
    font-size: 0; // Fix weird spacing issues
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      border-radius: 50%;
      color: inherit;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: normal;
      height: 1.5em;
      line-height: 1.45em;
      margin: 0.25em;
      padding: 0.125em;
      transition: all 200ms ease;
      width: 1.5em;

      &:hover,
      &:focus {
        background-color: var(--accent-color);
        background-image: linear-gradient(
          rgba(white, 0.125),
          rgba(black, 0.25)
        );
        box-shadow:
          inset 0 1px 0 rgba(white, 0.25),
          inset 0 -1px 0 rgba(black, 0.25),
          0 0.0625em 0.125em rgba(black, 0.5);
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(black, 0.5);
      }
    }

    .github a:hover,
    .github a:focus {
      background-color: #444;
      color: white;
    }

    .medium a:hover,
    .medium a:focus {
      background-color: var(--medium);
      color: white;
    }

    .mastodon a:hover,
    .mastodon a:focus {
      background-color: var(--mastodon);
      color: white;
    }

    .twitter a:hover,
    .twitter a:focus {
      background-color: var(--twitter);
      color: white;
    }

    .unsplash a:hover,
    .unsplash a:focus {
      background-color: white;
      color: black;
      text-shadow: none;
    }

    .pixelfed a:hover,
    .pixelfed a:focus {
      background-color: var(--pixelfed);
      color: white;
    }

    .instagram a:hover,
    .instagram a:focus {
      background-color: white;
      color: black;
      text-shadow: none;
    }

    .square a:hover,
    .square a:focus {
      background-color: #3cd428;
      color: white;
    }

    .email a:hover,
    .email a:focus {
      background-color: #FFB300;
      color: white;
    }
  }
}

