section.grid {
  margin: 0 auto;
  max-width: 32em;

  > * {
    margin: 1em;
    padding-bottom: 4em;
    padding-top: 2em;
  }
}

.grid.main {
  flex: 1 0 auto;
  max-width: 100%;
  width: var(--content-width);

  @media print {
    max-width: 90%;
  }
}
