nav {
  @media print {
    display: none;
  }

  background-color: var(--secondary-accent-color);
  color: var(--secondary-accent-contrast);
  display: flex;
  fill: var(--secondary-accent-contrast);
  font-size: 0; // Get rid of blank spaces between nav items
  overflow-x: auto;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    color: inherit;
    display: flex;
    font-size: 1rem;
    font-weight: 900;
    opacity: 1;
    padding: 1em;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      border: none;
      color: inherit;
      opacity: 0.75;
      outline: none;
      text-decoration: none;
    }

    &.current,
    &:active {
      background-color: var(--accent-color);
      color: var(--background-color);
    }
  }

  img[alt="Me"] {
    margin: 0 0.33em 0 0;
    max-height: 1.25em;
    max-width: 1.25em;
    padding: 0;
  }

  .feed {
    svg {
      fill: inherit;
      height: 1em;
      margin-right: 0.33em;
      transform: translateY(0.125em);
      vertical-align: middle;
      width: 1em;
    }
  }
}

