/******
* Nav *
******/

nav {
  padding: 0;

  background-color: $purple;

  color: $white;

    a {
      padding: 2em 1em;

      color: inherit;
      font-weight: bold;
      opacity: 1;

      &.current {
        background-color: $red;
      }
    }
}
