nav {
  @media print {
    display: none;
  }

  background-color: var(--secondary-accent-color);
  background-image: linear-gradient(
    120deg,
    transparent,
    var(--accent-color)
  );
  color: var(--secondary-accent-contrast);
  display: flex;
  fill: var(--secondary-accent-contrast);
  font-size: 0; // Get rid of blank spaces between nav items
  overflow-x: auto;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    color: inherit;
    display: flex;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 900;
    opacity: 1;
    padding: 1em;

    &:hover,
    &:focus,
    &.current,
    &:active {
      background-color: var(--accent-color);
      border: none;
      color: var(--background-color);
      outline: none;
      text-decoration: none;
    }
  }

  img.avatar {
    height: 2em;
    margin: -0.4em -0.25em -0.6em;
    max-height: 2em;
    max-width: 2em;
    padding: 0;
    width: 2em;
  }

  .feed {
    svg {
      fill: inherit;
      height: 1em;
      margin-right: 0.33em;
      transform: translateY(0.125em);
      vertical-align: middle;
      width: 1em;
    }
  }
}

