html {
  font-family: "Inter", sans-serif;
  font-size: 4vw;
  font-weight: 400;
  word-spacing: -0.05em;

  @media (min-width: 320px) {
    font-size: 14px;
  }

  @media (min-width: 600px) {
    font-size: 16px;
  }

  @media print {
    font-size: 12px;
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: opacity 250ms ease;

  &:hover,
  &:focus {
    outline: none;
    text-decoration-skip: ink;
    text-decoration: underline;
  }
}

h1 {
  color: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.097em;
  line-height: 0.9em;
  margin: 0 0 0.25em;

  @media (min-width: 505px) {
    max-width: initial;
  }
}

h2 {
  clear: both;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin: 0;
  margin-top: 1em;

  strong,
  em {
    display: inline-block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1.25em;

  em {
    display: inline-block;
    float: right;
    font-size: 0.67em;
    font-style: normal;
    font-weight: normal;
    line-height: 2em;
  }

  strong {
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25em;
  margin-top: 0;
  opacity: 0.8;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1em;
}

h6 {
  font-size: 0.75rem;
}

p,
li {
  line-height: 1.5em;
}

p,
ul,
ol {
  margin: 0.5em auto;
}

hr {
  border: 0.125em solid var(--faint);
  margin: 3em auto;
}

small,
aside p {
  font-size: smaller;
  opacity: 0.8;
}

blockquote {
  border-left: 0.25em solid var(--faint);
  margin-left: 0.25em;
  opacity: 0.8;
  padding-left: 0.5em;
}

aside blockquote p {
  border: none;
  font-size: 1.75em;
  font-style: italic;
  margin-left: 0.75em;
  opacity: 1;
  padding-left: 0;
}

article p {
  margin: 1.25em auto;
}

article time,
.read-time {
  opacity: 0.8;
  cursor: default;
}

.read-time::before {
  content: "| ";
}

.subtitle {
  font-size: 1.33em;
  margin: 0 auto 0.25em;
}

aside.updated,
aside.disclaimer {
  h1,
  h2,
  h3,
  h4,
  h6,
  h6 {
    color: var(--primary-color);
    font-size: 1.25em;
    letter-spacing: normal;
  }
}

aside.disclaimer {
  ul {
    @extend small;

    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      padding-left: 1em;
      text-indent: -1em;

      &:before {
        content: "✔️";
        font-size: 1.25em;
        padding-right: 0.25em;
      }
    }
  }
}
