@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji');

html {
  font-family: "Inter", sans-serif;
  font-size: 4vw;
  font-weight: 400;

  @media (min-width: 320px) {
    font-size: 14px;
  }

  @media (min-width: 600px) {
    font-size: 16px;
  }

  @media print {
    font-size: 12px;
  }
}

a {
  color: var(--accent-color);
  fill: var(--accent-color);
  text-decoration: none;
  transition: opacity 250ms ease;

  &:hover,
  &:focus {
    outline: none;
    text-decoration-skip: ink;
    text-decoration-skip-ink: ink;
    text-decoration: underline;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  &[target="_blank"]::after {
    content: "\2060→";
    display: inline-block;
    transition: transform 200ms ease;
  }

  &:hover,
  &:focus {
    &[target="_blank"]::after {
      transform: translateX(0.125em);
    }
  }
}

h1 {
  color: rgb(var(--accent-rgb));
  fill: rgb(var(--accent-rgb));
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.097em;
  line-height: 0.9em;
  margin: 0 0 0.25em;

  @media (min-width: 505px) {
    max-width: initial;
  }

  i {
    display: inline-block;
    font-size: 0.5em;
    font-style: inherit;
    padding: 0 0.25em;
    vertical-align: middle;
  }

  + p {
    font-size: 1.25em;
    line-height: 1.25;
  }
}

h2 {
  clear: both;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin: 0;

  strong,
  em {
    display: inline-block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 1em;

  em {
    display: inline-block;
    float: right;
    font-size: 0.67em;
    font-style: normal;
    font-weight: normal;
    line-height: 2em;
  }

  strong {
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25em;
  opacity: 0.8;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

h6 {
  font-size: 0.75rem;
}

p,
li {
  line-height: 1.5em;
}

p,
ul,
ol {
  margin: 0.5em auto;

  ul,
  ol {
    margin: 0 auto;
  }
}

hr {
  border: 0.125em solid var(--faint);
  margin: 3em auto;
}

kbd,
code {
  border: 1px solid var(--faint);
  border-radius: 0.125em;
  color: var(--neutral);
  fill: var(--neutral);
  font-size: 0.8em;
}

kbd {
  background: var(--background-color);
  border: 1px solid var(--faint);
  border-radius: 0.125em;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.25);
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  line-height: 1em;
  padding: 0.25em 0.4em 0.33em;
}

code {
  color: var(--neutral);
  fill: var(--neutral);
  padding: 0 0.25em;
}

abbr[title] {
  cursor: help;
  display: inline-block;
  text-decoration-color: var(--accent-color);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: wavy;

  &::after {
    background: var(--primary-color);
    border-radius: 0.25em;
    color: var(--background-color);
    content: attr(title);
    display: block;
    fill: var(--background-color);
    font-size: 0.85em;
    line-height: 1.25;
    max-width: 24em;
    opacity: 0;
    padding: 0.5em 0.75em;
    pointer-events: none;
    position: absolute;
    transition: opacity 150ms ease;
    z-index: 1;

    @media (hover: hover) and (pointer: fine) {
      display: none;
    }
  }

  &:hover::after {
    opacity: 0.9;
  }
}

small,
aside p {
  font-size: smaller;
  opacity: 0.9;
}

blockquote {
  border-left: 0.25em solid var(--faint);
  margin-left: 0.25em;
  opacity: 0.8;
  padding-left: 0.5em;
}

.dim {
  opacity: 0.67;
}

aside blockquote p {
  border: none;
  font-size: 1.75em;
  font-style: italic;
  margin-left: 0.75em;
  opacity: 1;
  padding-left: 0;
}

aside.card {
  color: var(--neutral);
  fill: var(--neutral);
  margin: 1em auto;
  padding: 0 1em;

  @media (min-width: 400px) {
    float: right;
    margin: 0 0 0.5em 1em;
    width: 18em;
  }

  @media (min-width: 768px) {
    margin-right: -9vw;
    width: 25em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.75rem auto;
    text-align: center;
  }

  table {
    @extend small;

    margin-bottom: 0.5em;
    text-align: left;

    td {
      padding: 0.33em 0.25em;
      vertical-align: top;

      &:first-child {
        font-weight: bold;
        opacity: 0.85;
        text-align: right;
      }
    }
  }
}

article,
.article {
  h2,
  h3,
  h4,
  h5 {
    scroll-margin-top: 4rem; // Nav bar plus 1rem of space
  }
}

article p,
.article p,
.referrals p,
.portfolio p {
  line-height: 1.85em;
  margin: 0.925em auto 1.85em;
}

article ul,
article ol {
  margin: 0.925em auto 1.85em;
}

article li {
  line-height: 1.85em;
  margin: 0.925em auto;
}

article time,
.read-time {
  opacity: 0.8;
  cursor: default;
}

.subtitle {
  font-size: 1.33em;
  margin: 0.33em auto 0.67em;
  line-height: 1.33;
}

aside.updated,
aside.disclaimer {
  h1,
  h2,
  h3,
  h4,
  h6,
  h6 {
    // color: var(--primary-color);
    // fill: var(--primary-color);
    // font-size: 1.25em;
    // letter-spacing: normal;
  }
}

aside.disclaimer {
  ul {
    @extend small;

    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      padding-left: 1em;
      text-indent: -1em;

      &:before {
        content: "✔️";
        font-size: 1.25em;
        padding-right: 0.25em;
      }
    }
  }
}

.profile {
  color: inherit;
  fill: inherit;
  font-weight: bold;

  .hash {
    @extend .dim;
    font-weight: normal;
  }
}

html.alt-style {
  a {
    text-decoration: underline;
  }
}
