html.blog {
  .post-summary {
    margin-bottom: 6rem;
    margin-top: 2rem;

    img {
      width: 100%;
    }

    h3 {
      margin-top: 0;
      padding-top: 0;
    }

    h4 {
      margin-top: 0.25em;
    }
  }
}

.license {
  margin: 2em auto;
  text-align: center;

  svg {
    height: 1.25em;
    width: 1.25em;
  }

  p {
    margin-top: 0.25em;
  }
}

#markdown-toc {
  list-style: none;
  padding: 0;

  &:before {
    @extend h2;
    content: "Table of Contents"
  }

  li {
    line-height: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 1.5em;
  }
}

.bio .avatar {
  float: left;
  height: 5em;
  margin-block-start: 0.5em;
  margin-inline-end: 1em;
  shape-outside: circle(50%);
  width: 5em;
}

section.main > div > aside {
  h2 {
    margin-block: 3rem 1rem;
  }

  p, li {
    line-height: 1.85em;
  }

  p {
    margin: 0.925em auto 1.85em;
  }
}
