html.blog {
  // To fix nav overlapping with anchor linking
  h3 {
    margin-top: -48px;
    padding-top: calc(1.25em + 48px);
  }
}

.license {
  margin: 2em auto;
  text-align: center;

  svg {
    height: 1.25em;
    width: 1.25em;
  }

  p {
    margin-top: 0.25em;
  }
}
