html.destiny {
  --background-color: #{ mix(#fafafa, #95a3ab, 67%) };
  --accent-color: #273445;
  --secondary-accent-color: var(--primary-color); // Header, footer
  --secondary-accent-contrast: var(--background-color);

  @media (prefers-color-scheme: dark) {
    --background-color: #0e141f;
    --primary-color: #fafafa;
    --accent-color: #273445;
    --secondary-accent-color: var(--accent-color); // Header, footer
    --secondary-accent-contrast: var(--primary-color);
  }

  h1 {
    color: inherit;
    font-weight: 100;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
  }
}
