.cassidyjames.home {
  h1 + p {
    margin-bottom: 3em;
  }

  .grid.main {
    width: 100%;
  }

  p,
  h1,
  h2 {
    width: calc(var(--content-width) - 2rem);
    margin-inline: auto;
    max-width: 100%;
  }

  .fa-ul {
    font-size: 0.875em;
    margin-left: 1.5em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    width: calc(var(--content-width) * 1.5);
    max-width: 100%;
    margin-inline: auto;
    text-wrap: balance;

    section {
      background: none;
      border: none;
      box-shadow: none;
      margin: 0;
      max-width: 100%;
      flex-grow: 1;
      width: 22rem;
      padding: 0 1em;

      p {
        margin-block: 1em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding-block: 0.25em;
        }
      }
    }

    .work strong a {
      color: var(--success-color);
    }
  }
}

