.home {
  h1 + p {
    margin-bottom: 2em;
  }

  .grid.main {
    width: 100%;
    
    p,
    h1,
    h2 {
      width: calc(var(--content-width) - 2rem);
      margin-inline: auto;
      max-width: 100%;
    }
  }

  .fa-ul {
    font-size: 0.875em;
    margin-left: 1.5em;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: calc(var(--content-width) * 1.5);
    max-width: 100%;
    margin-inline: auto;
    
    .card {
      margin: 0;
      max-width: 100%;
      flex-grow: 1;
      width: 22rem;
      padding: 0.5em 1em;

      h2 {
        margin-top: 0;
      }
    }
  }
}
