body.resume {
  h2, h3 {
    margin-top: 1.25em;
  }

  h2:first-of-type {
    margin-top: 0.75em;
  }

  h3 + h4 {
    margin-top: 0.25em;
  }

  h4 em {
    float: right;
    font-size: 0.8em;
    font-style: initial;
    font-weight: initial;
    line-height: 1.5em;
  }

  p {
    margin: 1em auto;
  }

  li p {
    margin: 0.67em auto;
  }

  aside {
    ul {
      display: flex;
      gap: 1.5em;
      justify-content: flex-start;
      padding: 0;
    }

    li {
      list-style: none;

      &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 1em;
        margin-right: 0.5em;
        vertical-align: middle;
        width: 1em;
      }

      &:first-child::before {
        background-image: url("/images/icons/globe-alt2-symbolic.svg");
      }

      &:nth-child(2)::before {
        background-image: url("/images/icons/mail-symbolic.svg");
      }

      &:last-child::before {
        background-image: url("/images/icons/phone-right-facing-symbolic.svg");
      }
    }
  }
}
