html.starwars {
  --sw-yellow: #ffe81f;
  --sw-blue: #3273c5;

  --background-color: #e7e7e7;
  --faint: #999;
  --primary-color: #333;

  --accent-color: var(--sw-blue);
  --secondary-accent-color: black;
  --secondary-accent-contrast: white;

  @media (prefers-color-scheme: dark) {
    --sw-blue: #55ddff;

    --background-color: black;
    --faint: #333;
    --primary-color: white;

    --accent-color: var(--sw-yellow);

    body {
      background-attachment: fixed;
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), black),
        url('https://source.unsplash.com/uhjiu8FjnsQ');
    }
  }

  // To fix nav overlapping with anchor linking
  h3 {
    margin-top: -48px;
    padding-top: calc(1.25em + 48px);
  }

  table {
    border-collapse: collapse;
  }

  table td, table th {
    padding: 0.5em;
  }

  table td:first-child {
    font-variant-numeric: tabular-nums;
    font-weight: bold;
  }

  table tr:nth-child(odd) td {
    background: rgba(150, 150, 150, 0.1);
  }
}

html.starwars.kenobi {
  --background-color: #dfcfb8;

  body {
    background-attachment: fixed;
    background-image:
      linear-gradient(rgba(223, 207, 184, 0.75), var(--background-color)),
      url("/images/starwars/kenobi.jpg");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.alt-style body {
    background-image: none;

    nav {
      background: black;
    }
  }

  nav {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );

    a:not(.current):not(:hover) {
      text-shadow:
        0 0 1em black,
        0 0 0.5em black;
    }
  }

  h1 img {
    filter: brightness(0);
  }

  @media (prefers-color-scheme: dark) {
    --background-color: black;

    body {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), var(--background-color)),
        url("/images/starwars/kenobi.jpg");
    }

    h1 img {
      filter: none;
    }
  }
}
