html.starwars {
  --sw-yellow: #ffe81f;
  --sw-blue: #3273c5;

  --background-color: #e7e7e7;
  --faint: #999;
  --primary-color: #333;

  --accent-color: var(--sw-blue);
  --secondary-accent-color: black;
  --secondary-accent-contrast: white;

  @media (prefers-color-scheme: dark) {
    --sw-blue: #55ddff;

    --background-color: black;
    --faint: #333;
    --primary-color: white;

    --accent-color: var(--sw-yellow);

    body {
      background-attachment: fixed;
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), black),
        url('https://source.unsplash.com/uhjiu8FjnsQ');
    }
  }

  h2 {
    margin-top: -48px;
    padding-top: calc(1em + 48px);
  }

  h3 {
    margin-top: -48px;
    padding-top: calc(1.25em + 48px);
  }

  table {
    border-collapse: collapse;
  }

  table td, table th {
    padding: 0.5em;
  }

  table td:first-child {
    font-variant-numeric: tabular-nums;
    font-weight: bold;
  }

  table tr:nth-child(odd) td {
    background: rgba(150, 150, 150, 0.1);
  }
}

html.starwars.kenobi {
  --rgb-bg: 223, 207, 184;
  --background-color: rgb(var(--rgb-bg));

  body {
    background-attachment: fixed;
    background-image:
      linear-gradient(rgba(var(--rgb-bg), 0.75), var(--background-color)),
      url("/images/starwars/kenobi.jpg");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav {
    background-color: rgba(var(--rgb-bg), 0.9);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    fill: var(--primary-color);
    transition:
      background 200ms ease,
      box-shadow 200ms ease;

    &.at-top {
      background-color: transparent;
      box-shadow: none;
    }
  }

  h1 img {
    filter: brightness(0);
    opacity: 0.67;
  }

  @media (prefers-color-scheme: dark) {
    --rgb-bg: 0, 0, 0;

    body {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), var(--background-color)),
        url("/images/starwars/kenobi.jpg");
    }

    nav {
      background-color: rgba(var(--rgb-bg), 0.5);
    }

    h1 img {
      filter: none;
    }
  }

  &.alt-style {
    body {
      background-image: none;
    }

    nav {
      background-image: linear-gradient(
        to top,
        var(--accent-color) 1px,
        var(--background-color) 1px
      );
    }
  }
}
