html.stadia {
  --background-rgb: var(--stadia-bg-rgb);
  --primary-rgb: var(--stadia-fg-rgb);

  --accent-rgb: var(--stadia-rgb);
  --secondary-accent-rgb: var(--stadia-bg-rgb);
  --secondary-accent-contrast-rgb: var(--stadia-fg-rgb);

  font-family: "Google Sans", "Inter", sans-serif;

  &,
  nav,
  footer {
    background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0.075),
      rgba(150, 150, 150, 0.075)
    );
  }

  h1 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      163deg,
      var(--stadia-orange),
      var(--stadia-purple)
    );
    font-family: "Google Sans", "Inter", sans-serif;
    letter-spacing: 0;
    padding: 0.125em 0;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  h1::before {
    background-image: url('/images/stadia.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1em;
    margin-right: 0.125em;
    vertical-align: bottom;
    width: 1em;
  }

  @media (prefers-color-scheme: dark) {
    h1::before {
      background-image: url('/images/stadia-dark.png');
    }
  }

  a.button.stadia {
    background-image: linear-gradient(
      to right,
      var(--stadia-orange),
      var(--stadia-purple)
    );
    color: white;
  }

  .profile::before {
    background-image: url('https://www.gstatic.com/stadia/gamers/avatars/mdpi/avatar_37.png');
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 1em;
    margin: 0 0.25em;
    position: relative;
    top: 0.15em;
    width: 1em;
  }
}
