html.switch {
  --background-rgb: 255, 255, 255;
  --accent-rgb: var(--switch-rgb);
  --primary-rgb: 72, 72, 72;

  --secondary-accent-rgb: 240, 240, 240;
  --secondary-accent-contrast-rgb: var(--primary-rgb);

  @media (prefers-color-scheme: dark) {
    --background-rgb: 50, 50, 50;
    --primary-rgb: 238, 238, 238;
    --secondary-accent-rgb: 45, 45, 45;
  }

  font-family: 'Montserrat', Inter, sans-serif;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.05em;
  }

  code {
    display: block;
    font-size: 2em;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
  }
}
