---
title: Flathub apps
---

<h1>{{ page.title }}</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Summary</th>
    <th>Categories</th>
    <th>Version</th>
    <th>Updated</th>
    <th>Spanish</th>
    <th>French</th>
    <th>German</th>
    <th>Verified</th>
  </thead>
  <tbody>
    {% for app in site.data.appstream.components.component %}
    {% if app['@type'] == 'desktop' %}
        <tr>
          <th>
            <a href="https://flathub.org/apps/{{ app.id }}" target="_blank">
              {% if app.name[0] %}
                {{ app.name[0] }}
              {% else %}
                {{ app.name }}
              {% endif %}
            </a>
          </th>

          <td>
            {% if app.summary[0] %}
              {{ app.summary[0] }}
            {% else %}
              {{ app.summary }}
            {% endif %}
          </td>

          <td>
            {% for category in app.categories.category %}
              {{ category }};
            {% endfor %}
          </td>

          <td>
            {% if app.releases.release[0] %}
               {{ app.releases.release[0]['@version'] }}
            {% else %}
               {{ app.releases.release['@version'] }}
            {% endif %}
          </td>

          <td>
            {% if app.releases.release[0] %}
               {{ app.releases.release[0]['@timestamp'] | date: "%Y-%m-%d" }}
            {% else %}
               {{ app.releases.release['@timestamp'] | date: "%Y-%m-%d" }}
            {% endif %}
          </td>

          <td>
            {% for lang in app.languages.lang %}
              {% if lang['#text'] == 'es' %}
                {{ lang['@percentage'] }}%
              {% endif%}
            {% endfor %}
          </td>

          <td>
            {% for lang in app.languages.lang %}
              {% if lang['#text'] == 'fr' %}
                {{ lang['@percentage'] }}%
              {% endif%}
            {% endfor %}
          </td>

          <td>
            {% for lang in app.languages.lang %}
              {% if lang['#text'] == 'de' %}
                {{ lang['@percentage'] }}%
              {% endif%}
            {% endfor %}
          </td>

          <td>
            {% for meta in app.metadata.value %}
              {% if meta['@key'] == 'flathub::verification::verified' %}
                Yes
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<style>
  table {
    display: block;
    max-height: 67vh;
    max-width: 100%;
    overflow: scroll;
    text-align: left;
  }

  thead {
    background-color: rgb(var(--background-rgb), 200);
    position: sticky;
    top: 0;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--faint);
  }
</style>
