<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <nav>
      {% assign current = page.url | downcase | split: '/' %}

      <a href="/" {% if current[1] == null %}class='current'{% endif %}>Home</a>
      <a href="/shortlist" {% if current[1] == 'shortlist' %}class='current'{% endif %}>Shortlist</a>
      <a href="/resume" {% if current[1] == 'resume' %}class='current'{% endif %}>Résumé</a>
    </nav>
    <section class="grid main">
      <div>
        {{content}}
      </div>
    </section>
    <footer>
      <p>© <span id="year">2017</span> Cassidy James Blaede. Made in Colorado.</p>
      <ul>
        <li class="animated black">
          <a href="https://github.com/{{ site.github.user }}" class="tooltip" data-tooltip="GitHub">
            <i class="fa fa-github fa-lg"></i>
          </a>
        </li>
        <li class="animated green-medium">
          <a href="https://medium.com/{{ site.medium }}" class="tooltip" data-tooltip="Medium">
            <i class="fa fa-medium fa-lg"></i>
          </a>
        </li>
        <li class="animated red">
          <a href="https://plus.google.com/{{ site.google-plus }}" class="tooltip" data-tooltip="Google+">
            <i class="fa fa-google-plus fa-lg"></i>
          </a>
        </li>
        <li class="animated blue-twitter">
          <a href="https://twitter.com/{{ site.twitter }}" class="tooltip" data-tooltip="Twitter">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
        </li>
        <li class="animated instagram">
          <a href="https://instagram.com/{{ site.instagram }}" class="tooltip" data-tooltip="Instagram">
            <i class="fa fa-instagram fa-lg"></i>
          </a>
        </li>
        <li class="animated yellow">
          <a href="mailto:{{ site.email }}" class="tooltip" data-tooltip="Email">
            <i class="fa fa-envelope fa-lg"></i>
          </a>
        </li>
        <li class="animated green">
          <a href="https://cash.me/{{ site.square }}" class="tooltip" data-tooltip="Cash Me">
            <i class="fa fa-usd fa-lg"></i>
          </a>
        </li>
      </ul>
      <p>Inspired by <a href="http://danielfore.com">Daniel Foré</a>.</p>
      <a href="https://github.com/{{ site.github.user }}/{{ site.github.repo }}/issues/new"><i class="fa fa-bug"></i> Report an Issue</a>
    </footer>
  </body>
</html>
