---
layout: compress
---
<!DOCTYPE html>
{% capture classes %}
  {% if page.url == '/' %}home {% endif %}

  {{ page.url | replace: '.html', '' | slugify }}

  {{ page.url | replace: '.html', '' | replace: '/', ' ' }}

  {{ page.class }}

  {% for class in page.classes %}
    {{ class }}
  {% endfor %}
{% endcapture %}
<html lang="en-us" class="{{ classes | strip_newlines | strip }}">
  {% include head.html %}
  <body class="{{ classes | strip_newlines | strip }}">
    {% include nav.html %}
    <section class="grid main">
      <div>
        {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
