---
layout: default
---
{% assign date_string = page.date | date: "%a, %b %e, %Y" %}
{% assign updated_string = page.updated | date: "%a, %b %e, %Y" %}

<h1>Cassidy’s Blog</h1>

{% if page.hidden %}
<aside>
    <p><strong>This blog post is not published. It might be unfinished, inaccurate, or otherwise not fit to be shared publicly.</strong></p>
</aside>
{% endif %}

<article>
  <h2>{{ page.title }}</h2>

  {% if page.description %}<p class="subtitle">{{ page.description }}</p>{% endif %}

  {% if page.updated and updated_string != date_string %}
    <time class="updated-date" datetime="{{ page.updated | date:"%Y-%m-%d" }}">Updated {{ page.updated | date: "%a, %b %e, %Y" }}</time>
  {% else %}
    <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
  {% endif %}

  {% include read-time.html content = page.content %}

  {{ content }}

  <hr style="clear: both;" />

  <aside class="disclaimer">
    {% capture md %}
# Blog Ethics & Disclaimer

- No unnecessary third-party tracking
- Privacy-respecting [Plausible analytics](https://plausible.io/cassidyjames.com) routed via my own domain
- No Twitter, Facebook, or other embeds—quoted social media is reproduced locally
- No payment, hardware, or favors accepted unless explicitly noted

These are **my personal thoughts**, and don’t represent any official stance of elementary, GNOME, or any other associated organization or open source project.
    {% endcapture %}
    {{ md | markdownify }}
  </aside>

  {% if page.updated and updated_string != date_string %}
  <aside class="updated">
    {% capture md %}
Originally published on **{{ page.date | date: "%a, %b %e, %Y" }}**, but most recently updated on **{{ page.updated | date: "%a, %b %e, %Y" }}**.
    {% endcapture %}
    {{ md | markdownify }}
  </aside>
  {% endif %}
</article>

<hr />

<aside>
  <h2>Up Next</h2>
  {% if page.next %}
    {% unless page.next.hidden %}
      {% include post-summary.html post=page.next %}
    {% endunless %}
  {% endif %}

  {% if page.previous %}
    {% unless page.previous.hidden %}
      {% include post-summary.html post=page.previous %}
    {% endunless %}
  {% endif %}
</aside>
