---
layout: default
---

<h1>Cassidy’s Blog</h1>

<article>
  <h2>{{ page.title }}</h2>

  {% if page.description %}<p class="subtitle">{{ page.description }}</p>{% endif %}

  {% if page.updated %}
    <time class="updated-date" datetime="{{ page.updated | date:"%Y-%m-%d" }}">Updated {{ page.updated | date: "%a, %b %e, %Y" }}</time>
  {% else %}
    <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
  {% endif %}

  {% include read-time.html content = page.content %}

  {{ content }}

  <hr />

  <aside class="disclaimer">
    {% capture md %}
# Blog Ethics & Disclaimer

- Zero third-party tracking or analytics
- No payment, hardware, or favors accepted unless explicitly noted

These are **my personal thoughts**, and don’t represent any official stance of elementary, GNOME, or any other associated organization or open source project.
    {% endcapture %}
    {{ md | markdownify }}
  </aside>

  {% assign date_string = page.date | date: "%a, %b %e, %Y" %}
  {% assign updated_string = page.updated | date: "%a, %b %e, %Y" %}
  {% if page.updated and updated_string != date_string %}
  <aside class="updated">
    {% capture md %}
Originally published on **{{ page.date | date: "%a, %b %e, %Y" }}**, but most recently updated on **{{ page.updated | date: "%a, %b %e, %Y" }}**.
    {% endcapture %}
    {{ md | markdownify }}
  </aside>
  {% endif %}
</article>
